* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(49, 49, 49);
}

.container {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    height: 1000px;
    background-image:url(img/background.avif);
}

header {
    width: 86%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;

}

header h1 {
    font-size: 64px;
}

header h3 {
    font-size: 18px;
}

.create-task {
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 86%;
}

.task-textbox {
    border: none;
    width: 100%;
    background-color: white;
    margin-left: 0;
    padding-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

button {
    height: 56px;
    width: auto;
    border: none;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    background-color: rgb(35, 46, 56);
    color: whitesmoke;
}

.task-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.task {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 86%;
    background-color: white;
    border-radius: 5px;
    padding-left: 15px;
}

.check-task {
    content: url(img/check.svg);
}

.check-task.checked {
    content: url(img/check_green.svg);
}

.task p {
    margin-top: auto;
    margin-bottom: auto;
}

.icons {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    margin-left: auto;
}